@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root{
    --color-primary: #1D1D25;
    --color-sencodary: #F5F4E9;
    --color-third: #7159C1;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: var(--color-primary);
    filter:brightness(90%);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: var(--color-primary);
    padding: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.contact-menu{
    text-align: center;
    margin: 0 auto;
}

.contact-menu a{
    margin: 30px;
    color: var(--color-sencodary);
    font-size: 24px;
    line-height: 34px;

    border-bottom: 0.5px solid var(--color-third); 
}

.contact-menu a:hover{
    color: var(--color-third);
    transition: color 200ms;
}